<section class="portfolio">
  <h2>Portfolio</h2>

  <div class="projects_container">
    <div class="projects">
      @for (portfolio of portfolios; track $index) {
      <div class="item">
        <div class="header">
          <a [href]="portfolio.link" target="_blank" rel="noopener noreferrer">
            <img
              [src]="portfolio.img | image"
              [alt]="portfolio.name"
              [title]="portfolio.name"
            />
          </a>
        </div>
        <div class="description">
          <span>{{ portfolio.name }}</span>
        </div>
      </div>
      }
    </div>
  </div>
</section>
